<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>waterman_service_watchdog</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>waterman_iattandance</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>103.113.32.126</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>103.168.19.137</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartVmService._tcp</string>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is used to capture your attendance photo during Client Check In and Check Out.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Waterman iAttendance uses the local network to discover and connect to attendance devices and services on your organization's network.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Waterman iAttendance requires access to your location in the background to verify your work location during active work sessions. For example, after you check in, the app may verify your location to ensure attendance authenticity as per company policy.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Waterman iAttendance collects location data in the background only during active work sessions to validate attendance records and prevent misuse. Location data is securely transmitted to your organization’s server for attendance management.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Waterman iAttendance uses your location while the app is in use to mark your attendance and display your check-in/check-out location on the map. For example, when you press the Check-In button, your current GPS location is captured and stored with your attendance record.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone for recording audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires permission to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to select images.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WKAppBoundDomains</key>
	<array>
		<string>103.113.32.126</string>
		<string>103.168.19.137</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
