<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-08-04T05:49:46Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/Mac Mini Secoundry Drive/Flutter Projects New/comman_i_attendance_flutter/macos/Runner.xcworkspace</string>
</dict>
</plist>
